<div class="map-slot" aria-label="Карта постов">
  <img src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXcOpJdcpV3DGQdJgU1dleoahP0emwSKqDDoaQF2dd7cB3Rg04zIwkYsxbXOEREAJBIKNzx9jvvE3LqX2jk5CC_DXFgLmlqF89loDME2Trcn2fkG5FnN67gvoThqfQpMlZw3tD5Qn-ZOfgtkFlgwGs4Q2B8?key=fuZgRRHThPhJ3hcp0pwv8g" alt="Карта с расположением постов" loading="lazy" decoding="async" fetchpriority="low" data-map-image />
</div>
