---
import Icon from './Icon.astro';
---
<div class="search-box"><Icon name="search" size={18} /><label class="sr-only" for="section-search">Поиск по справочнику</label><input id="section-search" type="search" placeholder="Поиск по справочнику..." autocomplete="off" /></div>
